/*Sorry in advance; this isn't well formatted, will fix in final version*/
:root {
    --main-background-color: #FCCDD1;
    --secondary-background-color: #FFFFFF;
    --primary-text-color: #550808;
    --secondary-text-color: #D73D96;
}
body{
    background:var(--main-background-color);
    color:var(--primary-text-color);
}
#main-body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    text-align:center;
}

#main-header, #main-footer{
    background:var(--main-background-color);
    text-align: center;
    color:var(--primary-text-color);
}
#top-section h2{
    text-align: center;
}
img{
    width:auto;
    height:auto;
    display:block;
    margin:auto;
}
.row1of3{
    background:var(--secondary-background-color);
    margin:30px;
    padding:5px;
    text-align: center;
}
.col1of2{
    background:var(--secondary-background-color);
    text-align: center;
    padding:0 10px 10px 10px;
    margin:10px;
}
.col1of2 a{
    color: var(--primary-text-color);
}
.about {
    padding:5px;
    background: var(--secondary-background-color);
    border:1px solid var(--secondary-text-color);
    color:var(--primary-text-color);
}

.about-img{
    margin-top:20px;
    padding:5px;
    text-align: center;
}
.about-p{
    font-size: 18px;
}

.trinket-text{
    font-size: 14px;
}
.gallery{
    background:var(--main-background-color);
}
.links{
    background:blue;
}

main{
    background:var(--main-background-color);
}
#main-nav ul{
    padding-left:0;
}
#main-nav li{
    list-style-type: none;
    padding:2px;
    text-align:center;
    border-bottom:1px solid transparent;
}
a{
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.highlighted a{
    border-bottom:1px solid var(--secondary-text-color);
    color: var(--secondary-text-color) !important;/*overrides previous set color for this element*/
}
#main-nav a, .row1of3 a{
    color:var(--primary-text-color);
}

#toggle-nav div{
    margin-left:5px;
    width:25px;
    height:2px;
    background-color:var(--primary-text-color);
    margin: 6px 0;
}

#trinketformat{
    background: var(--secondary-background-color);
    text-align: center;
}
#trinketformat p{
    width:80%;
    margin:auto;
    text-align:left;
    padding:5px;
}

.rating{
    color:#ffd83d;
}

.collection{
    background:var(--secondary-background-color);
    padding:5px;
    margin:0px;
    
}
.collection a{
    color: var(--primary-text-color);
}
.collection:nth-child(even){
    border-bottom:1px solid white;
}

.collection-nav a{
    color: var(--secondary-text-color);
}

.hide-small{
    display:none;
}
@media only screen and (min-width: 768px){
    #content{
        width: 70%;
        margin: auto;
    }
    .columns{
        display:flex;
    }
    .row1of3, .col1of2{
        flex:1;
    }
    #main-nav li{
        flex: 1;
    }
    .about{
        margin:60px;
        text-align: left;
    }
    .about:nth-child(even){
        text-align: right;
    }
    .about-img{
        width: 100%;
        height:auto;
    }
    .collection{
        margin-bottom: 10px;
        border-bottom:1px solid white;
    }
    .collection:nth-child(odd){
        padding:0px;
    }
    .collection:nth-child(even){
        text-align: left;
        margin-left:0px;
    }
    .hide-small{
        display:flex;
    }
    #toggle-nav{
        display:none;
    }
}