
body{
    background: rgb(255, 189, 163);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(137,25,90);
}
h1{
    color:rgb(123, 83, 136);
    font: size 48px;
}
h2{
    color: rgb(123, 83, 136);
    text-decoration: underline;
}
#content{
    background:rgb(255, 162, 185);
    width: 80%;
    margin:auto;
    padding: 0 10px;

}
a{
    text-decoration: none;
    color: rgb(137,87,130);
}
a:hover{
    background:rgb(225,41,148);
    border-radius: 3px;
}
img{
    border: 5px solid rgb(255, 189, 163);
    border-radius: 5px;
}

