:root{
    --main-background-color: #EAEAEA;
    --primary-text-color: #A73995;
    --secondary-text-color: #893168;
    --tertiary-text-color: #48093e;
    --sub-background-color: #8b247a;
    --popup-background-color: #ae3099;
}
body{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: var(--main-background-color);
}
header, footer{
    color:var(--primary-text-color);
}
footer a{
    text-decoration: none;
    color:var(--primary-text-color);
}

h2{
    color:var(--secondary-text-color);
}

#cats{
    background: var(--sub-background-color);
    color:var(--tertiary-text-color);
    margin:10px;
    padding:10px;
}

.catinfo{
    text-align: center;
    margin:10px;
}

.catinfo img{
    height:200px;
    width:auto;
}

.catpopup{
    background: var(--popup-background-color);
    margin:0px;
    padding:1px;
    color: var(--tertiary-text-color);
}
.catpopup img{
    height:250px;
    width:auto;
}
.catpopup h2{
    text-align: left;
    color: var(--tertiary-text-color);
    padding:10px;
}
#flex1{
    text-align: left;
    margin:0;
    padding:10px;
}

#imgstyling{
    padding:10px;
}
.button{
    color:var(--tertiary-text-color) !important;
    background: transparent;
}

.hidden{
    display: none;
}

#testing{
    background:#A73995;
    width: 70%;
    margin: auto;
    padding-top:10px;
}
#flex2{
    align-items: right;
}
@media (min-width: 768px){
    #cats, .flex{
        display:flex;
    }
    .catinfo, #flex1{
        flex:1;
    }
}